<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/dashboardLayout.html}"
>
  <head>
    <title>Quản lý xe</title>

    <link rel="stylesheet" href="../css/manager.css" />
  </head>
  <body>
    <section class="row" layout:fragment="content">
      <div class="col mt-4">
        <div class="card">
          <div class="card-header">Danh sách xe</div>
          <div class="card-body">
            <div
              th:if="${message != null}"
              class="alert alert-primary"
              role="alert"
            >
              <i>[[${message}]]</i>
            </div>
            <div class="row my-2">
              <div class="col">
                <form th:action="@{/manager/cars}">
                  <div class="form-inline float-left">
                    <label for="tenXe">Tên xe:</label>
                    <input
                      type="text"
                      class="form-control ml-1"
                      name="tenXe"
                      id="tenXe"
                      aria-describedby="helpId"
                      placeholder="Tên xe"
                    />
                    <button class="btn btn-outline-primary ml-1">Tìm kiếm</button>
                  </div>
                </form>
                <div class="float-right">
                  <a
                    class="btn btn-outline-primary"
                    th:href="@{/manager/cars/add}"
                    >Thêm mới xe</a
                  >
                </div>
              </div>
            </div>
            <div class="row" th:if="${!carPage.hasContent()}">
              <div class="col">
                <div class="alert alert-danger" role="alert">
                  <strong>Xe không tồn tại</strong>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table
                class="table table-striped table-inverse"
                th:if="${carPage.hasContent()}"
              >
                <thead class="thead-inverse">
                  <tr>
                    <th>Mã xe</th>
                    <th>Tên xe</th>
                    <th>Số xe</th>
                    <th>Trạng thái bảo hành</th>
                    <th>Thời gian bảo hành</th>
                    <th>Chủ xe</th>
                    <th>Loại xe</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each=" car , iStat : ${carPage.content}">
                    <td scope="row">[[${car.maXe}]]</td>
                    <td th:text="${car.tenXe}"></td>
                    <td th:text="${car.soXe}"></td>
                    <td th:text="${car.trangThaiBH ? 'Còn' : 'Hết'}"></td>
                    <td th:text="${car.tGBH}"></td>
                    <td th:text="${car.khachHang.ho + ' ' + car.khachHang.ten}"></td>
                    <td th:text="${car.loaixe.tenLoai}"></td>
                    <td>
                      <a
                        th:href="@{'/manager/cars/edit/' + ${car.maXe}}"
                        class="btn btn-outline-warning"
                        ><i class="fas fa-edit"></i
                      ></a>
                      <a
                        th:data-id="${car.maXe}"
                        th:data-name="${car.tenXe}"
                        onclick="showConfirmModelDialog(this.getAttribute('data-id'),this.getAttribute('data-name'))"
                        class="btn btn-outline-danger"
                        ><i class="fas fa-recycle"></i
                      ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <script>
              const showConfirmModelDialog = (id, name) => {
                $("#productName").text(name);
                $("#yesOption").attr("href", "/manager/cars/delete/" + id);
                $("#confirmationId").modal("show");
              };
            </script>
            <!-- Modal -->
            <div
              class="modal fade"
              id="confirmationId"
              tabindex="-1"
              role="dialog"
              aria-labelledby="modelTitleId"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Bạn có muốn xóa " <span id="productName"></span>"?
                  </div>
                  <div class="modal-footer">
                    <a id="yesOption" type="button" class="btn btn-danger"
                      >Có</a
                    >
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Không
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <form action="">
              <div class="form-inline float-left">
                <label for="size">Page Size: </label>
                <select
                  class="form-control"
                  name="size"
                  id="size"
                  onchange="this.form.submit()"
                >
                  <option th:selected="${carPage.size == 5}" value="5">
                    5
                  </option>
                  <option th:selected="${carPage.size == 10}" value="10">
                    10
                  </option>
                </select>
              </div>

              <nav
                aria-label="Page navigation"
                th:if="${carPage.totalPages > 0}"
              >
                <ul class="pagination justify-content-center">
                  <li
                    th:class="${1 == carPage.number + 1} ? 'page-item active' : 'page-item' "
                  >
                    <a
                      th:href="@{/manager/cars/(tenXe=${tenXe}, size=${carPage.size},page=${0})}"
                      th:class="page-link"
                    >
                      First
                    </a>
                  </li>
                  <li
                    class="page-item active"
                    th:each="pageNumber : ${pageNumbers}"
                    th:if="${carPage.totalPages > 1}"
                    th:class="${pageNumber  == carPage.number +1 } ? 'page-item active ' : 'page-item'"
                  >
                    <a
                      th:href="@{/manager/cars/(tenXe=${tenXe}, size=${carPage.size},page=${pageNumber - 1})}"
                      th:class="page-link"
                      th:text="${pageNumber}"
                      >1</a
                    >
                  </li>
                  <li
                    th:class="${carPage.totalPages -1 == carPage.number} ? 'page-item active' : 'page-item' "
                  >
                    <a
                      th:href="@{/manager/cars/(tenXe=${tenXe}, size=${carPage.size},page=${carPage.totalPages -1})}"
                      th:class="page-link"
                    >
                      Last
                    </a>
                  </li>
                </ul>
              </nav>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
